*dSYM
*demo_direct
*demo_indirect
*run_coneOS
*.swo
*run_coneOS_*
*data_coneOS
*.o
*.a
*data_rome
*/fast_mpc*/*
*.DS_Store
*.out
*.nav
*.dvi
*.ps
*.pdf
*.aux
*.log
*.bbl
*.blg
*.toc
*.swp
*.m~
*.mat
*.mex*
*.mexmaci
*.mexa64
*.mexmaci64
*.out
./C/box/cvxgen/cvxgen/testsolver
*.dependencies
LOCK
